<div class="container">
  <div class="row">
    <div  class="col-4" *ngFor="let keg of kegs">
      <h4>{{ keg.brand }} {{ keg.beerName }}</h4>
      <ul>
        <li>${{keg.price}}</li>
        <li>ABV: {{keg.alcoholContent}}%</li>
        <li>Keg Status: {{keg.pints}} pints remaining</li>
      </ul>
      <button (click)="sellABeer(keg)">Sell</button>
      <button (click)="editButtonClicked(keg)">Edit</button>
    </div>
  </div>
  <button (click)="editButtonClicked(newKeg)">Add New Keg</button>
  <app-update-keg [childSelectedKeg]="selectedKeg" (clickedDone)="finishedEditingOri()" (clickedAdd)="finishedAddingOri()"></app-update-keg>
</div>
